<h2>組織情報編集</h2>
<% if @organization.present? then %>
  <form id="organizer-form" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :patch_to, params[:ucode] %>
    <div class="form-group">
      <label for="organization-name">組織名</label>
      <input class="form-control" id="organization-name" name="organization_name" placeholder="組織名" value="<%= @organization.organization_name %>">
    </div>
    <div class="form-group">
      <label for="member">メンバー</label>
      <input class="form-control" id="member" name="member" placeholder="s1f101700000,s1f101800000,s1f101800000" value="<%= @organization.members.join(",") %>">
    </div>
    <hr>
    <a class="btn btn-outline-secondary" href="/admin/organizations">キャンセル</a>
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirmModal">
      登録
    </button>
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="comfirmModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="comfirmModalLabel">確認</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>「登録」をクリックすると、直ちに変更が反映され、Webサイト及び公式アプリ上の情報に影響します</p>
            <p>登録しますか？</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">キャンセル</button>
            <input type="button" class="btn btn-outline-primary" onclick="$('#organizer-form').submit();" value="登録">
          </div>
        </div>
      </div>
    </div>
  </form>
<% end %>

<script>
    $("input[name = title]").keypress(function (e) {
        if (e.which === 13) {
            return false;
        }
    });
</script>