<h2>Appインストール</h2>
<p>総合受付用App： <a href="itms-services://?action=download-manifest&url=https://storage.googleapis.com/iniadfes-2019/reception-app/manifest.plist" class="btn btn-outline-primary">インストール</a></p>
<p>企画受付用App： <a href="itms-services://?action=download-manifest&url=https://storage.googleapis.com/iniadfes-2019/visitorentryapp/manifest.plist" class="btn btn-outline-primary">インストール</a></p>