<h2>INIAD-FES 2019 公式アプリをインストールしていただき、ありがとうございます！</h2>
<p>このアプリには次のような画面があります</p>
<div>
  <h3>・企画一覧・マップ機能</h3>
  <p>階ごとに、企画の一覧を確認できます。</p>
  <p>画面を左右にスワイプすると、階層を切り替えられます。</p>
  <p>企画名をタップすると、詳細を表示できます。</p>
  <p>マップの部分をタップすると、マップを拡大で表示できます。</p>
</div>
<div>
  <h3>・来場受付機能</h3>
  <p>INIAD-FESでは、次年度以降に役立てるために来場者の情報を収集しています。</p>
  <p>受付や、各企画の入り口で、係の学生にQRコードをご提示ください。</p>
</div>
<div>
  <h3>・プッシュ通知機能</h3>
  <p>実行委員会からのお知らせをプッシュ通知でお届けする場合があります。</p>
  <p>重要な情報については、プッシュ通知ではなく構内放送にてお伝えする場合がございます。</p>
  <p>INIAD-FESを更にお楽しみいただくために、是非プッシュ通知をご利用ください。</p>
  <% if params[:device_type] == "iOS" then %>
    <p>プッシュ通知の一覧を表示できます</p>
    <p>タイトルをタップすると、詳細を確認できます</p>
  <% end %>
</div>