<h2>プライバシーポリシー</h2>
<p>INIAD-FES 2019では、業務の効率化を目的としてに以下に挙げる情報（以下「ユーザー情報」）を収集・取り扱いすることがあります。</p>
<ul>
  <li>来場者の年代</li>
  <li>来場者の性別</li>
  <li>来場者の所属</li>
  <li>グループの人数</li>
  <li>来場者が、訪れた企画の一覧と来訪日時</li>
  <li>アプリをインストールした端末のプッシュ通知用個体ID</li>
</ul>
<hr>
<p>アプリ提供者、及びINIAD-FES実行委員会は、収集したユーザー情報を以下の目的で使用します。</p>
<ul>
  <li>INIAD-FES実行委員会の業務効率化（来場者誘導など）</li>
  <li>INIAD-FES実行委員会からのアプリを使用しているユーザーに対しての情報提供</li>
  <li>出展団体へのフィードバック（※1）</li>
  <li>次年度以降のINIAD-FESへの活用（※2）</li>
</ul>
<p>ユーザー情報を利用する際は、その取り扱いに十分配慮するものとします。</p>
<p>ユーザー情報のうち、個人の特定につながり得る情報については、個人情報の取り扱いについて十分に確認を行ったINIAD-FES実行委員または東洋大学教職員のみで使用するものとします。</p>
<p>INIAD-FES実行委員会は、以下の場合を除きユーザー情報を第三者に提供いたしません。ただし，個人情報保護法その他の法令で認められる場合を除きます。</p>
<ul>
  <li>ユーザーからの明確な同意があるとき</li>
  <li>人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき</li>
  <li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき</li>
  <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
</ul>
<p>本プライバシーポリシーは、必要に応じて予告なく改定することがあります。</p>
<p>改定後のプライバシーポリシーは、本サイトまたはアプリ画面に掲載したときから効力を生ずるものとします。</p>
<hr>
<p>※1：出展団体に対し、企画の時間帯別の来場者の情報を提供します。ただし、出展団体からは事前に個人情報の取り扱いについて十分に確認を行い、事前届け出のない構成員が情報を使用することを禁止するなど、対策を講じるものとします。</p>
<p>※2：次年度INIAD-FESの実行委員会の発足後に、収集した全データを提供します。ただし、本プライバシーポリシーに則り、ユーザー情報の取り扱い者には個人情報の取り扱いについて十分な確認を行うものとします。</p>
<p>個人情報の取り扱いに関するお問い合わせは以下にて承ります。</p>
<a href="mailto://system@iniadfes.com">system@iniadfes.com</a>
