<h2>INIAD-FES2019 公式App サポート</h2>
<p><a href="/manual">アプリの操作方法</a></p>
<p><a href="/privacy">プライバシーポリシー</a></p>
<hr>
<p>アプリについてのお問い合わせはメールにて承ります</p>
<p>Mail: <a href="mailto://support@iniadfes.com">system@iniadfes.com</a></p>